
body{
  font-family: 'Roboto', sans-serif;
}
section{
  margin-top:70px;
}
a{
  text-decoration: none;
}

/* header content */
.header-content{
  text-align: center;
width:60%;
max-width: 90%;
margin:auto;
color:#5A6B7B;
padding-top:40px;
}
.header-content>h1{
  font-size: 2rem;
  color: #3D4853;
  font-weight: normal;
}
.header-content>h1>span{
color:#0da5f0;
}
.about-text{
  overflow-wrap: break-word;
  line-height: 1.6;
  font-size:1.3rem;
  width:65%;
  margin: auto;
}
.star-rating>img{
  display: block;
}
.star-rating{
  display: flex;
  justify-content: center;
  margin:10px auto;
}

.star-rating + button,.time-mangement-col+button{
  border: 0;
  color:white;
  background-color: #03A9F4;
  font-size:1rem;
  text-transform: uppercase;
  width:330px;
  padding:20px 10px;
  border-radius: 5px;
}
.people-signedUp{
  /* align-self: center; */
  display: flex;
  align-items: center;
  width:40%;
  margin:auto;
  margin-top:5px;
}
.people-signedUp>img{
width:20px;
margin-left:12px;
}
/* header bottom contentt till here */


/* customers logo */
#logo-img{

  width:70%;
  height:60px;
  margin: auto;
  margin-top:20px;
}
#logo-img>img{
  width:100%;
  
}

/* video screenshots */
#video-screenshots{
width:85%;
margin:auto;
margin-top:-4em;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0px 2.6px;
}
#video-screenshots>img{
width:100%;
}


/* time management first row */
.time-mangement-col{
width:80%;
display:flex;
justify-content: space-between;
color:gray;
margin:8% auto;

}

.leftdiv-list>h4{
  /* text-align:center; */
  margin-left:4em;
  color:#8b8b8b;
  text-transform: uppercase;
}
.leftdiv-list li{
  display:block;
  margin:-10px 8px; 
  padding:-5px;
  width:100%;
}
.leftdiv-list>ul{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.p-heading{
  color:#3c4855;
  font-weight:bold;
}

.rightdiv-img{
width:50%;
}
.rightdiv-img>img{
  width:100%;
}

.p-heading:hover{
  color:#0da5f0;
}
.leftdiv-list>h4:hover{
  color:black;
}

.time-mangement-col+button{
  display: block;
  margin:auto;
}
button:hover{
  background-color: #0288d1;
}

/* Time management CSS ends here */

/* chat bot css */
#chat-bot-sign{
position: fixed;
bottom: 20px;
right: 20px;
vertical-align: middle;
}


#chat-bot-sign img{
  width:20px;
height:20px;

}
#chat-bot-sign>button{
  background:#424fb5;
  border: 0;
  padding:10px 20px;
  font-size: 1.3rem;
  border-radius:999rem;
}
#chat-bot-sign>button>span:last-child{
  color:#fff
}
#chat-bot-sign>button:hover,.chat-header-cont>button:hover{
  background:#3a73b2;
  box-shadow: 0 14px 28px rgba(2, 2, 3, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(0.9);
}

.chat-box-window{
 width:20%;
 position: fixed;
 bottom: 20px;
 right: 20px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 display: none;
 background-color:#fff;
}
.chat-header{
  height: 40px;
  margin-top:-10px;
  background-color: #3a73b2;
  border-radius: 10px 10px 0 0;
}
.chat-header-cont>h1{
  text-align: center;
font-size:1.1rem;
  font-weight: normal;
  padding-top:10px;
  color:#fff;
}
.chat-header-cont>button{
  float:right;
  position:relative;
  top:-40;
  right:10;
  background-color: #3a73b2;
  border: 0;
  color: #fff;
  font-size: 1.9rem;
}

.chat-box-window>form{
  
  margin-top: 0PX;
  display: flex;
  flex-direction: column;
  padding:8px;
  line-height: 1.2;
  overflow-y:hidden;
}

.chat-box-window>form>p{
  font-size: 0.9rem;
  color:#5A6B7B;
}
.chat-box-window>form>label{
margin-top:10px;
font-weight: 500;
}
.sbmt-msg{
display: flex;
align-items: flex-end;
justify-content: flex-end;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sbmt-msg>button{
background-color: #3a73b2;
border:0;
padding: 10px 20px;
font-size: 1rem;
border-radius: 8px;
color:#fff;
/* margin-right: 25px; */
}
.sbmt-msg>button:hover{
  transform: scale(0.9);
}
